/* header */

.container-fluid {
    text-align: center;
    align-content: center;
    margin-top: 9em;
  
  }
  
  .ml-3 {
    border-radius: 70%;
    max-width: 200px;
    height: auto;
    margin-right: 5em;
    margin-top: 3em;
    margin-bottom: 5em;
    overflow: hidden;
    transform: translateY(0px);
    
  }
  
  #header {
    text-align: center;
    margin-top:150px;
    
  }
  
  .bg-image {
    background-image: url('map.jpg'); 
    height:50vh;
    background-repeat:no-repeat; 
    background-position: center;
    background-size: cover;
  
    /* nav layout */
  
  }
  #nav2 {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width:535px;
    background-color: rgba(0, 128, 75, 0.486);
    position:relative;
    font-size: 30px;
    
  }
  
  #nav{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width:535px;
    background-color: rgba(0, 128, 75, 0.486);
    position:relative;
    font-size: 30px;
    animation-name:lu;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes lu {
    0% {left: -100%;}
    100% {left: 0%;}
  
  }
  
  a {
    color: rgb(202, 186, 93)
  }
  
  a:visited {
   color: rgb(202, 186, 93);
  }
  a:hover {
    color:rgba(255, 198, 13, 0.849);
  
  }
  
  body {
    background-color:rgb(165, 212, 194);
    opacity: 100%;
  }
  /* footer  */
  
  #footer {
    margin-top: 150px;
    text-align: center;
    color:rgb(12, 11, 5) ;
  
  }
  
  /* about */
  
  #about {
    background-color: rgba(0, 128, 75, 0.486);
    margin-top: 40px;
    margin-left: auto;
    margin-right:auto;
    padding-top: 30px;
    padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   font-size:medium;
   position:relative;
   animation: about 4s;
  
  }
  
  @keyframes about {
  
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
  
  
  
  /* hello animation*/
  
   .waviy {
     margin-top: 30px;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  
  }
  
  .waviy span {
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    color: rgba(0, 128, 75, 0.486);
    padding-top: 20px;
    font-size:  40px;;
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  
  /* table education layout*/
  
  .table-responsive {
    
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  table-layout: fixed;
  animation: table 4s;
  }
  
  @keyframes table {
    0% { opacity: 0; }
    100% { opacity: 1;}
  
  }
  
  th, td {
    padding: 30px;
    text-align: center;
  }
  
  th i {
    padding-left: 40px ;
    padding-right: 20px
  }
  
  ul{
    list-style: none ;
  }
  
  /* portfolio */
  
  #portfolio {
    background-color: rgba(0, 128, 75, 0.486);
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    height: 900px;
    width:1000px;
    position:relative;
    animation-name:portfolio;
    animation-duration: 4s;
   
    
  }
  
  @keyframes portfolio {
    from {height: 0px;}
    to {height: 900px;}
  
  }

  /* contact form*/

 .col-4 {
  background: rgba(0, 128, 75, 0.486);
  height: 450px;
  border:  10px rgb(202, 186, 93);
  border-radius: 10px;
  margin: 60px;
  border-style: outset;
  text-align: center;
  padding: 30px;
  text-align:center;
  }

  input  {
    background-color:rgb(165, 212, 194);
   border: 3px solid rgba(0, 128, 75, 0.486)
  }

  ::placeholder {
    color: black;
    font-weight: 50;
   
  }


button {
  background-color: rgb(165, 212, 194);
  border: 2px solid rgb(202, 186, 93);
  border-radius: 30px;
  border-style: double ;
  box-shadow:rgb(202, 186, 93)4px 4px 0 0 ;
  color: black ;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  touch-action: manipulation;
}

button:hover {
  background-color:rgb(202, 186, 93);
  box-shadow:rgb(165, 212, 194)4px 4px 0 0 ;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*thank you*/

.vintage__container{
  text-align: center;
  font-family: 'Six Caps', sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.vintage__top {
  background: linear-gradient(rgb(202, 186, 93),rgb(240, 220, 200)) ;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent;
}

.vintage__bot {
  margin-top: 100px;
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}





